<h1>About</h1>
<p>This is a Node/Express app demonstrating user authentication, authenticated routes, and CRUD functionality.</p>
<p>Handlebars used from templating and bootstrap for quick style.</p>
<p>Node Modules:</p>
<ul>
  <li>path</li>
  <li>connect-flash: Flash massages for errors and success</li>
  <li>express-session</li>
  <li>body-parser</li>
  <li>passport: authentication</li>
  <li>mongoose</li>
</ul>
<h2><a href="https://github.com/K-zimm/projot" target="_blank">Github Repo</a></h2>